/* Presets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

body {
  overflow-x: hidden;
  background: url(../img/background.jpg);
  background-color: #484848;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

ul {
  list-style: none; }

a, a:link, a:after, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none; }

/* Presets Finished */
.navBar {
  height: 80vh;
  width: 8%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20vh;
  margin-left: 92%; }

.navBar--li {
  color: white;
  padding: 4rem;
  font-size: 1.4rem;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 0.1rem; }

@media (max-width: 600px) {
  .navBar {
    display: none; } }
@media (min-width: 601px) and (max-width: 1023px) {
  .navBar {
    display: none; } }
/* Landing Page */
.landing-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column; }

.nameAndIMG {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 10%; }

.top-text {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 10%; }

.top-img {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 5%; }

.top-img--img {
  height: 30rem; }

.top-text--h1 {
  font-size: 7.4rem;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding-bottom: 2rem; }

.top-text--h4 {
  font-size: 2.6rem;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  letter-spacing: 0.3rem;
  padding-left: 0.8rem; }

.bottom-icons {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .bottom-icons--icon {
    height: 5rem;
    width: 5rem;
    margin: 4rem;
    cursor: pointer; }
  .bottom-icons--icon:hover {
    opacity: 90%; }

/* Landing Page Finished */
@media (max-width: 600px) {
  .nameAndIMG {
    height: 60%;
    padding: 0;
    padding-bottom: 5rem; }

  .top-text {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 0; }

  .top-img {
    display: none; }

  .top-text--h1 {
    font-size: 5rem; }

  .top-text--h4 {
    font-size: 2rem;
    padding-left: 0rem; }

  .bottom-icons {
    height: 40%;
    align-items: flex-start;
    padding: 0; }
    .bottom-icons--icon {
      height: 4rem;
      width: 4rem;
      margin: 2.5rem; } }
@media (min-width: 601px) and (max-width: 1023px) {
  .nameAndIMG {
    height: 60%;
    padding: 0;
    padding-bottom: 5rem; }

  .top-text {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 0; }

  .top-img {
    display: none; }

  .top-text--h1 {
    font-size: 7rem; }

  .top-text--h4 {
    font-size: 2.4rem;
    padding-left: 0rem; }

  .bottom-icons {
    height: 40%;
    align-items: flex-start;
    padding: 0; }
    .bottom-icons--icon {
      height: 5rem;
      width: 5rem; } }
@media (min-width: 1024px) and (max-width: 1295px) {
  .top-text--h1 {
    font-size: 5.8rem; }

  .top-text--h4 {
    font-size: 2rem; } }
/* Footer */
.footerGap {
  height: 5rem; }

.footer {
  height: 20rem;
  width: 100vw;
  background: #212123;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .footer-icons {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem; }
    .footer-icons--icon {
      height: 5rem;
      width: 5rem;
      margin: 4rem;
      cursor: pointer; }
    .footer-icons--icon:hover {
      opacity: 90%; }
  .footer-btt {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5rem; }
    .footer-btt__img {
      height: 3.5rem; }
  .footer-text {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem; }
    .footer-text__h3 {
      font-size: 1.4rem;
      color: white;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 500;
      letter-spacing: 0.2rem;
      text-align: center; }

/* Footer Finish */
@media (max-width: 600px) {
  .footerGap {
    height: 4rem; }

  .footer-icons {
    height: 50%;
    padding-top: 3rem; }
    .footer-icons--icon {
      height: 4rem;
      width: 4rem;
      margin: 2.5rem; }
  .footer-btt {
    display: none; }
  .footer-text {
    height: 50%;
    padding-bottom: 3rem; } }
@media (min-width: 601px) and (max-width: 1023px) {
  .footer-icons {
    height: 50%;
    padding-top: 3rem; }
    .footer-icons--icon {
      height: 4.5rem;
      width: 4.5rem; }
  .footer-btt {
    display: none; }
  .footer-text {
    height: 50%;
    padding-bottom: 3rem; } }
/* Projects Page Start */
.projects-page {
  height: 130rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-left: 8%;
  padding-right: 8%; }
  .projects-page--header {
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .projects-page--header-h2 {
    font-size: 4rem;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    letter-spacing: 0.3rem; }
  .projects-page--projects {
    height: 88%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; }
    .projects-page--projects--project1 {
      height: 26rem;
      width: 32rem;
      background: url(../img/northern.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.6rem;
      cursor: pointer;
      margin: 2rem; }
      .projects-page--projects--project1:hover {
        background-color: #676767;
        background-blend-mode: multiply; }
      .projects-page--projects--project1--h1 {
        color: white;
        padding: 1rem;
        font-size: 1.6rem;
        font-family: 'Work Sans', sans-serif;
        letter-spacing: 0.1rem;
        text-align: center;
        padding: 2rem;
        line-height: 2.2rem;
        cursor: pointer; }
    .projects-page--projects--project2 {
      height: 26rem;
      width: 32rem;
      background: url(../img/sanc.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.6rem;
      cursor: pointer;
      margin: 2rem; }
      .projects-page--projects--project2:hover {
        background-color: #676767;
        background-blend-mode: multiply; }
      .projects-page--projects--project2--h1 {
        color: white;
        padding: 1rem;
        font-size: 1.6rem;
        font-family: 'Work Sans', sans-serif;
        letter-spacing: 0.1rem;
        text-align: center;
        padding: 2rem;
        line-height: 2.2rem;
        cursor: pointer; }
    .projects-page--projects--project3 {
      height: 26rem;
      width: 32rem;
      background: url(../img/transport.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.6rem;
      cursor: pointer;
      margin: 2rem; }
      .projects-page--projects--project3:hover {
        background-color: #676767;
        background-blend-mode: multiply; }
      .projects-page--projects--project3--h1 {
        color: white;
        padding: 1rem;
        font-size: 1.6rem;
        font-family: 'Work Sans', sans-serif;
        letter-spacing: 0.1rem;
        text-align: center;
        padding: 3rem;
        line-height: 2.2rem;
        cursor: pointer; }
    .projects-page--projects--project4 {
      height: 26rem;
      width: 32rem;
      background: url(../img/worldNews.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.6rem;
      cursor: pointer;
      margin: 2rem; }
      .projects-page--projects--project4:hover {
        background-color: #676767;
        background-blend-mode: multiply; }
      .projects-page--projects--project4--h1 {
        color: white;
        padding: 1rem;
        font-size: 1.6rem;
        font-family: 'Work Sans', sans-serif;
        letter-spacing: 0.1rem;
        text-align: center;
        padding: 3rem;
        line-height: 2.2rem;
        cursor: pointer; }
    .projects-page--projects--project5 {
      height: 26rem;
      width: 32rem;
      background: url(../img/openfolio.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.6rem;
      cursor: pointer;
      margin: 2rem; }
      .projects-page--projects--project5:hover {
        background-color: #676767;
        background-blend-mode: multiply; }
      .projects-page--projects--project5--h1 {
        color: white;
        padding: 1rem;
        font-size: 1.6rem;
        font-family: 'Work Sans', sans-serif;
        letter-spacing: 0.1rem;
        text-align: center;
        padding: 3rem;
        line-height: 2.2rem;
        cursor: pointer; }
    .projects-page--projects--project6 {
      height: 26rem;
      width: 32rem;
      background: url(../img/StewBrew.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.6rem;
      cursor: pointer;
      margin: 2rem; }
      .projects-page--projects--project6:hover {
        background-color: #676767;
        background-blend-mode: multiply; }
      .projects-page--projects--project6--h1 {
        color: white;
        padding: 1rem;
        font-size: 1.6rem;
        font-family: 'Work Sans', sans-serif;
        letter-spacing: 0.1rem;
        text-align: center;
        padding: 3rem;
        line-height: 2.2rem;
        cursor: pointer; }
    .projects-page--projects--project7 {
      height: 26rem;
      width: 32rem;
      background: url(../img/handy.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.6rem;
      cursor: pointer;
      margin: 2rem; }
      .projects-page--projects--project7:hover {
        background-color: #676767;
        background-blend-mode: multiply; }
      .projects-page--projects--project7--h1 {
        color: white;
        padding: 1rem;
        font-size: 1.6rem;
        font-family: 'Work Sans', sans-serif;
        letter-spacing: 0.1rem;
        text-align: center;
        padding: 3rem;
        line-height: 2.2rem;
        cursor: pointer; }
    .projects-page--projects--project8 {
      height: 26rem;
      width: 32rem;
      background: url(../img/SBPS.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.6rem;
      cursor: pointer;
      margin: 2rem; }
      .projects-page--projects--project8:hover {
        background-color: #676767;
        background-blend-mode: multiply; }
      .projects-page--projects--project8--h1 {
        color: white;
        padding: 1rem;
        font-size: 1.6rem;
        font-family: 'Work Sans', sans-serif;
        letter-spacing: 0.1rem;
        text-align: center;
        padding: 3rem;
        line-height: 2.2rem;
        cursor: pointer; }

@media (max-width: 600px) {
  .projects-page {
    height: 360rem;
    padding-left: 0%;
    padding-right: 0%; }
    .projects-page--header {
      height: 5%; }
    .projects-page--projects {
      height: 95%; }
      .projects-page--projects--project1 {
        height: 33rem;
        width: 37rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
        margin-left: 2rem;
        margin-right: 2rem; }
        .projects-page--projects--project1--h1 {
          font-size: 1.8rem; }
      .projects-page--projects--project2 {
        height: 33rem;
        width: 37rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
        margin-left: 2rem;
        margin-right: 2rem; }
        .projects-page--projects--project2--h1 {
          font-size: 1.8rem; }
      .projects-page--projects--project3 {
        height: 33rem;
        width: 37rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
        margin-left: 2rem;
        margin-right: 2rem; }
        .projects-page--projects--project3--h1 {
          font-size: 1.8rem; }
      .projects-page--projects--project4 {
        height: 33rem;
        width: 37rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
        margin-left: 2rem;
        margin-right: 2rem; }
        .projects-page--projects--project4--h1 {
          font-size: 1.8rem; }
      .projects-page--projects--project5 {
        height: 33rem;
        width: 37rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
        margin-left: 2rem;
        margin-right: 2rem; }
        .projects-page--projects--project5--h1 {
          font-size: 1.8rem; }
      .projects-page--projects--project6 {
        height: 33rem;
        width: 37rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
        margin-left: 2rem;
        margin-right: 2rem; }
        .projects-page--projects--project6--h1 {
          font-size: 1.8rem; }
      .projects-page--projects--project7 {
        height: 33rem;
        width: 37rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
        margin-left: 2rem;
        margin-right: 2rem; }
        .projects-page--projects--project7--h1 {
          font-size: 1.8rem; }
      .projects-page--projects--project8 {
        height: 33rem;
        width: 37rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
        margin-left: 2rem;
        margin-right: 2rem; }
        .projects-page--projects--project8--h1 {
          font-size: 1.8rem; } }
@media (min-width: 601px) and (max-width: 1023px) {
  .projects-page {
    height: 360rem;
    padding-left: 9%;
    padding-right: 9%; }
    .projects-page--header {
      height: 5%; }
    .projects-page--projects {
      height: 95%; }
      .projects-page--projects--project1 {
        height: 34rem;
        width: 38rem;
        margin: 4rem; }
        .projects-page--projects--project1--h1 {
          font-size: 1.8rem; }
      .projects-page--projects--project2 {
        height: 34rem;
        width: 38rem;
        margin: 4rem; }
        .projects-page--projects--project2--h1 {
          font-size: 1.8rem; }
      .projects-page--projects--project3 {
        height: 34rem;
        width: 38rem;
        margin: 4rem; }
        .projects-page--projects--project3--h1 {
          font-size: 1.8rem; }
      .projects-page--projects--project4 {
        height: 34rem;
        width: 38rem;
        margin: 4rem; }
        .projects-page--projects--project4--h1 {
          font-size: 1.8rem; }
      .projects-page--projects--project5 {
        height: 34rem;
        width: 38rem;
        margin: 4rem; }
        .projects-page--projects--project5--h1 {
          font-size: 1.8rem; }
      .projects-page--projects--project6 {
        height: 34rem;
        width: 38rem;
        margin: 4rem; }
        .projects-page--projects--project6--h1 {
          font-size: 1.8rem; }
      .projects-page--projects--project7 {
        height: 34rem;
        width: 38rem;
        margin: 4rem; }
        .projects-page--projects--project7--h1 {
          font-size: 1.8rem; }
      .projects-page--projects--project8 {
        height: 34rem;
        width: 38rem;
        margin: 4rem; }
        .projects-page--projects--project8--h1 {
          font-size: 1.8rem; } }
@media (min-width: 1024px) and (max-width: 1295px) {
  .projects-page {
    height: 150rem; }
    .projects-page--header {
      height: 13%; }
    .projects-page--projects {
      height: 87%; } }
@media (min-width: 1725px) {
  .projects-page {
    height: 150rem;
    width: 100vw; }
    .projects-page--projects--project1 {
      height: 32rem;
      width: 38rem;
      margin: 2rem; }
    .projects-page--projects--project2 {
      height: 32rem;
      width: 38rem;
      margin: 2rem; }
    .projects-page--projects--project3 {
      height: 32rem;
      width: 38rem;
      margin: 2rem; }
    .projects-page--projects--project4 {
      height: 32rem;
      width: 38rem;
      margin: 2rem; }
    .projects-page--projects--project5 {
      height: 32rem;
      width: 38rem;
      margin: 2rem; }
    .projects-page--projects--project6 {
      height: 32rem;
      width: 38rem;
      margin: 2rem; }
    .projects-page--projects--project7 {
      height: 32rem;
      width: 38rem;
      margin: 2rem; }
    .projects-page--projects--project8 {
      height: 32rem;
      width: 38rem;
      margin: 2rem; } }
.tools-section {
  height: 40rem;
  width: 100vw;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 3%; }
  .tools-section--topText {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .tools-section--topText_h3 {
      color: white;
      font-family: 'Work Sans', sans-serif;
      letter-spacing: 0.1rem;
      font-size: 1.4rem; }
  .tools-section--icons {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%; }
    .tools-section--icons_icon {
      height: 7rem;
      margin-left: 3.2rem;
      margin-right: 3.2rem; }

@media (max-width: 600px) {
  .tools-section {
    display: none; } }
@media (min-width: 601px) and (max-width: 1023px) {
  .tools-section {
    height: 45rem;
    width: 100vw;
    padding-left: 5%;
    padding-right: 5%; }
    .tools-section--topText {
      height: 20%;
      text-align: center; }
      .tools-section--topText_h3 {
        font-size: 1.4rem;
        text-align: center; }
    .tools-section--icons {
      height: 80%;
      padding-left: 0%;
      padding-right: 0%; }
      .tools-section--icons_icon {
        height: 6rem; } }

/*# sourceMappingURL=style.css.map */
