// media queries
$mobile: "(max-width:600px)";

$tablet: "(min-width:601px) and (max-width: 1023px)";

$preTablet: "(min-width: 1024px) and (max-width: 1295px)";

$desktop: "(min-width: 1296px) and (max-width: 1724px)";

$largeDesktop: "(min-width: 1725px)";